.create {
    visibility: hidden;
}
.row {
    background: #E8E8E8;
    padding: 5px 20px 5px 5px;
    border: solid 1px black;
}
.menu {
    background: #EED5B7;
    padding: 5px 20px 5px 5px;
    border: solid 1px black;
}
.path{
    background: #BCD2EE;
    padding: 5px 20px 5px 5px;
    border: solid 1px black;
}
input[type=submit] {
    background: none;
    padding: 0;
    border: none;
    color: #0000FF;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}
input[type=submit]:hover {
    color: #D02090;
}
input[type=submit].dir {
    color: #B03060;
}
input[type=submit].file {
    color: #0000FF;
}

.copy {
    color: gray;
    font-style: italic;
    font-size: small;
    text-align: center;
}